In [4]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv('./Iris.csv',header=None)
df.head()

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [8]:
df.columns = ['SepalLengthCm','SepalWidthCm','PetalLengthCm','PetalWidthCm','Species']
df.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

## 1. Create data subsets for different species

In [9]:
df['Species'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [11]:
df_setosa = df[df['Species'] == 'Iris-setosa']
df_setosa.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

In [12]:
df_versicolor = df[df['Species'] == 'Iris-versicolor']
df_versicolor.head()

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm          Species
50            7.0           3.2            4.7           1.4  Iris-versicolor
51            6.4           3.2            4.5           1.5  Iris-versicolor
52            6.9           3.1            4.9           1.5  Iris-versicolor
53            5.5           2.3            4.0           1.3  Iris-versicolor
54            6.5           2.8            4.6           1.5  Iris-versicolor

## 2. Merge two subsets

In [13]:
df_merge = pd.concat([df_setosa,df_versicolor])
df_merge.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

## 3. Sort Data Petal Length

In [15]:
df_sort = df.sort_values('PetalLengthCm',ascending=False)
df_sort.head()

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
118            7.7           2.6            6.9           2.3  Iris-virginica
122            7.7           2.8            6.7           2.0  Iris-virginica
117            7.7           3.8            6.7           2.2  Iris-virginica
105            7.6           3.0            6.6           2.1  Iris-virginica
131            7.9           3.8            6.4           2.0  Iris-virginica

## 4. Transposing Data

In [18]:
df_transpose = df.T
df_transpose.head()

,0,1,2,3,4,5,6,7,8,9,...,140,141,142,143,144,145,146,147,148,149
SepalLengthCm,5.1,4.9,4.7,4.6,5.0,5.4,4.6,5.0,4.4,4.9,...,6.7,6.9,5.8,6.8,6.7,6.7,6.3,6.5,6.2,5.9
SepalWidthCm,3.5,3.0,3.2,3.1,3.6,3.9,3.4,3.4,2.9,3.1,...,3.1,3.1,2.7,3.2,3.3,3.0,2.5,3.0,3.4,3.0
PetalLengthCm,1.4,1.4,1.3,1.5,1.4,1.7,1.4,1.5,1.4,1.5,...,5.6,5.1,5.1,5.9,5.7,5.2,5.0,5.2,5.4,5.1
PetalWidthCm,0.2,0.2,0.2,0.2,0.2,0.4,0.3,0.2,0.2,0.1,...,2.4,2.3,1.9,2.3,2.5,2.3,1.9,2.0,2.3,1.8
Species,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,...,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica

## 5. Melting Data to long format

In [21]:
df_melt = pd.melt(df,id_vars=['SepalLengthCm','PetalLengthCm','Species'])
df_melt.head()

   SepalLengthCm  PetalLengthCm      Species      variable  value
0            5.1            1.4  Iris-setosa  SepalWidthCm    3.5
1            4.9            1.4  Iris-setosa  SepalWidthCm    3.0
2            4.7            1.3  Iris-setosa  SepalWidthCm    3.2
3            4.6            1.5  Iris-setosa  SepalWidthCm    3.1
4            5.0            1.4  Iris-setosa  SepalWidthCm    3.6

## 6. Casting data to wide format

In [23]:
df_cast = pd.pivot_table(df,index=['Species'])
df_cast.head()

                 PetalLengthCm  PetalWidthCm  SepalLengthCm  SepalWidthCm
Species
Iris-setosa              1.464         0.244          5.006         3.418
Iris-versicolor          4.260         1.326          5.936         2.770
Iris-virginica           5.552         2.026          6.588         2.974